frontend/.env
backend/api/.env
infra/terraform/environments/dev/terraform.*
infra/terraform/environments/dev/.terraform*
infra/terraform/environments/dev/backend-code
infra/terraform/environments/dev/frontend-code
infra/terraform/environments/dev/a.out

infra/terraform/environments/production/terraform.*
infra/terraform/environments/production/.terraform*
infra/terraform/environments/production/a.out
infra/terraform/environments/production/backend-code
infra/terraform/environments/production/frontend-code

infra/terraform/environments/staging/terraform.*
infra/terraform/environments/staging/.terraform*
infra/terraform/environments/staging/a.out
infra/terraform/environments/staging/backend-code
infra/terraform/environments/staging/frontend-code
.gitignore