infra/terraform/environments/dev/terraform.*
infra/terraform/environments/dev/.terraform*
infra/terraform/environments/dev/a.out
infra/terraform/environments/production/terraform.*
infra/terraform/environments/production/.terraform*
infra/terraform/environments/production/a.out
infra/terraform/environments/staging/terraform.*
infra/terraform/environments/staging/.terraform*
infra/terraform/environments/staging/a.out
.gitignore